<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<add name="CodeNamesGameEntities" connectionString="metadata=res://*/CodeNamesDataBaseModel.csdl|res://*/CodeNamesDataBaseModel.ssdl|res://*/CodeNamesDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Shadows-Lap\SQLEXPRESS;initial catalog=CodeNamesGame;persist security info=True;user id=Cardone;password=1031;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Service.DataBaseService">
				<endpoint address="MessageService" binding="netTcpBinding" bindingConfiguration="" contract="Service.IDatabaseService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>